<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Riddle Me This!</title>
</head>

<body>

    <h1>Welcome to Riddle Me This!</h1>

    <h3>Instructions:</h3>

    <p>The challenge is to get as many questions correct as you can.</p>
    <p>If you answer correctly, you gain a point and move on to the next question.</p>
    <p>If you answer incorrectly, you lose a life. You have three lives.</p>

    <p>Best of luck!</p>

    <hr>

    <form method="POST">
        <label for="username">Please enter a username:</label>
        <input type="text" name="username" id="username">
        <button>Get Started</button>
    </form>


</body>

</html>
