{% extends "base.html" %} {% block content %}

<div class="container">

    <div class="jumbotron">
        <h1 class="display-4 text-center">Question Time!</h1>
        <p class="lead">Welcome, {{session['username']}}, let's get started!</p>

        <h3> Question {{ session["current_question_number"] }}: {{ question.question }}</h3>
        
        
        <hr class="my-4">

        <form method="POST" action="{{ url_for('questions') }}">
            <div class="form-group">
                <label for="answer">Please enter your answer:</label>
                <input type="text" class="form-control" name="answer" id="answer" placeholder="Answer" required>
            </div>
            <button id="submit" type="submit" class="btn btn-info" onclick="return submitAnswer('{{ question.answer }}')">Submit</button>
        </form>
        
        <div id="wrong-answer"></div>
    </div>
    <small class="text-muted">HINT: For testing and debugging purposes, the answer is hidden in the button element. But try not to peek unless you need to!</small>


</div>

{% endblock %}
