<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Question Time</title>

</head>

<body>

    <div class="container">

        <h1>Question Time!</h1>

        <p>Welcome, {{user}}, let's get started!</p>

        <p> Question {{ question_number }}: {{ question.question }}</p>

        <form id="target" action="{{ url_for('questions') }}" method="POST">
            <textarea name="answer" id="answer"></textarea>
            <button id="submit" type="submit" onclick="return submitAnswer()">Submit</button>
        </form>

        <p>
            {{ question.answer }}
        </p>

    </div>


</body>

<script>
    function submitAnswer() {

        var realAnswer = "{{ question.answer }}".toLowerCase();
        var userAnswer = $('#answer').val().toLowerCase();

        if (realAnswer != userAnswer) {
            alert('wrong!');
            return false;
        }
        else {
            console.log(userAnswer +" = "+ realAnswer + "?");
            return true;
        }
    }
</script>

</html>
